## Датасет собран из базы данных переписи 1994 года и содержит данные о доходах.
### Информация о данных:
* age: continuous.
* workclass: Private, Self-emp-not-inc, Self-emp-inc, Federal-gov, Local-gov, State-gov, Without-pay, Never-worked.
* fnlwgt: continuous.
* education: Bachelors, Some-college, 11th, HS-grad, Prof-school, Assoc-acdm, Assoc-voc, 9th, 7th-8th, 12th, * Masters, 1st-4th, 10th, Doctorate, 5th-6th, Preschool.
* education-num: continuous.
* marital-status: Married-civ-spouse, Divorced, Never-married, Separated, Widowed, Married-spouse-absent, Married-AF-spouse.
* occupation: Tech-support, Craft-repair, Other-service, Sales, Exec-managerial, Prof-specialty, Handlers-cleaners, Machine-op-inspct, Adm-clerical, Farming-fishing, Transport-moving, Priv-house-serv, Protective-serv, Armed-Forces.
* relationship: Wife, Own-child, Husband, Not-in-family, Other-relative, Unmarried.
* race: White, Asian-Pac-Islander, Amer-Indian-Eskimo, Other, Black.
* sex: Female, Male.
* capital-gain: continuous.
* capital-loss: continuous.
* hours-per-week: continuous.
* native-country: United-States, Cambodia, England, Puerto-Rico, Canada, Germany, Outlying-US(Guam-USVI-etc), India, Japan, Greece, South, China, Cuba, Iran, Honduras, Philippines, Italy, Poland, Jamaica, Vietnam, Mexico, Portugal, Ireland, France, Dominican-Republic, Laos, Ecuador, Taiwan, Haiti, Columbia, Hungary, Guatemala, Nicaragua, Scotland, Thailand, Yugoslavia, El-Salvador, Trinadad&Tobago, Peru, Hong, Holand-Netherlands.
* salary: >50K,<=50K

## Проведите анализ данных при помощи Pandas выполнив поставленные задачи.
####

In [109]:
import pandas as pd

In [110]:
# загружаем датасет
data = pd.read_csv("./data/adult.data.csv")
data.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

**1. Посчитайте, сколько мужчин и женщин (признак *sex*) представлено в этом датасете**

In [20]:
male_count = data['sex'].value_counts()['Male']
female_count = data['sex'].value_counts()['Female']

print(f"Number with Male: {male_count}")
print(f"Number with Female: {female_count}")

Number with Male: 21790
Number with Female: 10771

**2. Каков средний возраст мужчин (признак *age*) по всему датасету?**

In [12]:
average_men_age = data[data['sex'] == 'Male']['age'].mean()
print(f"Average Male age: {int(average_men_age)}")

Average Male age: 39

**3. Какова доля граждан Соединенных Штатов (признак *native-country*)?**

In [23]:
count_us_citizen = data['native-country'].value_counts()['United-States']
all_citizen = data.count()['native-country']
percentage = count_us_citizen/all_citizen*100
print(f"Number of US citizen: {round(percentage,2)}%")

Number of US citizen: 89.59%

**4-5. Рассчитайте среднее значение и среднеквадратичное отклонение возраста тех, кто получает более 50K в год (признак *salary*) и тех, кто получает менее 50K в год**

In [34]:
std_more_50k = data.loc[data['salary'] == '>50K', 'age'].std()
std_less_50k = data.loc[data['salary'] == '<=50K', 'age'].std()
print(f' STD for than more 50k - {round(std_more_50k,2)}\n STD for than less 50k - {round(std_less_50k,2)}')

 STD for than more 50k - 10.52
 STD for than less 50k - 14.02

**6. Правда ли, что люди, которые получают больше 50k, имеют минимум высшее образование? (признак *education – Bachelors, Prof-school, Assoc-acdm, Assoc-voc, Masters* или *Doctorate*)**

In [46]:
edu_levels = ['Bachelors', 'Prof-school', 'Assoc-acdm', 'Assoc-voc', 'Masters', 'Doctorate']
high_edu_income = data[(data['salary'] == '>50K') & (data['education'].isin(edu_levels))]
all_edu_income = data[(data['salary'] == '>50K')]
percentage = (high_edu_income.shape[0] / data[data['salary'] == '>50K'].shape[0]) * 100 #Percentage of people earning >50K
print(f'Percentage of people earning >50K with high education: {round(percentage,2)}%')
print(f'This is all people whos have salary more than 50k -> {all_edu_income.shape[0]}, from this quantity we have -> {high_edu_income.shape[0]} whos have salary than 50k and have high education. This means that not all people whis have salary more than 50k have high education.')

Percentage of people earning >50K with high education: 57.84%
This is all people whos have salary more than 50k -> 7841, from this quantity we have -> 4535 whos have salary than 50k and have high education. This means that not all people whis have salary more than 50k have high education.

**7. Выведите статистику возраста для каждой расы (признак *race*) и каждого пола. Используйте *groupby* и *describe*. Найдите таким образом максимальный возраст мужчин расы *Asian-Pac-Islander*.**

In [49]:
stats_age = data.groupby(['race','sex'])['age'].describe()
print(stats_age)

                             count       mean        std   min   25%   50%  \
race               sex
Amer-Indian-Eskimo Female    119.0  37.117647  13.114991  17.0  27.0  36.0
                   Male      192.0  37.208333  12.049563  17.0  28.0  35.0
Asian-Pac-Islander Female    346.0  35.089595  12.300845  17.0  25.0  33.0
                   Male      693.0  39.073593  12.883944  18.0  29.0  37.0
Black              Female   1555.0  37.854019  12.637197  17.0  28.0  37.0
                   Male     1569.0  37.682600  12.882612  17.0  27.0  36.0
Other              Female    109.0  31.678899  11.631599  17.0  23.0  29.0
                   Male      162.0  34.654321  11.355531  17.0  26.0  32.0
White              Female   8642.0  36.811618  14.329093  17.0  25.0  35.0
                   Male    19174.0  39.652498  13.436029  17.0  29.0  38.0

                             75%   max
race               sex
Amer-Indian-Eskimo Female  46.00  80.0
                   Male    45.00  82.0
Asian-Pac-Islander Female  43.75  75.0
                   Male    46.00  90.0
Black              Female  46.00  90.0
                   Male    46.00  90.0
Other              Female  39.00  74.0
                   Male    42.00  77.0
White              Female  46.00  90.0
                   Male    49.00  90.0

**8. Среди кого больше доля зарабатывающих много (>50K): среди женатых или холостых мужчин (признак *marital-status*)? Женатыми считаем тех, у кого *marital-status* начинается с *Married* (Married-civ-spouse, Married-spouse-absent или Married-AF-spouse), остальных считаем холостыми.**

In [87]:
men_over_50k = data[(data['sex'] == 'Male') & (data['salary'] == '>50K')].shape[0]
men_over_50k_merried = data[(data['sex'] == 'Male') & (data['salary'] == '>50K') & (data['marital-status'].isin(['Married-civ-spouse', 'Married-spouse-absent','Married-AF-spouse']))].shape[0]
print(f'Total men with earing more than 50k {men_over_50k} it is 100%' )
print(f'Part of merried -   {round((men_over_50k_merried/men_over_50k)*100, 2)}%')
print(f'Part of single -    {round(((men_over_50k - men_over_50k_merried)/men_over_50k)*100, 2)}%')

Total men with earing more than 50k 6662 it is 100%
Part of merried -   89.54%
Part of single -    10.46%

**9. Какое максимальное число часов человек работает в неделю (признак *hours-per-week*)? Сколько людей работают такое количество часов и каков среди них процент зарабатывающих много?**

In [103]:
max_hour_per_week = data['hours-per-week'].max()
with_max_hours_more_than50k = data[(data['hours-per-week']==max_hour_per_week) & (data['salary']=='>50K')].shape[0]
total_with_max_hours = data[(data['hours-per-week']==max_hour_per_week)].shape[0]

print(f'Max hours per week is - {max_hour_per_week}')
print(f'Total people who work {max_hour_per_week} hours per week is - {total_with_max_hours}')
print(f'Percent of people who earing more than 50K and work about {max_hour_per_week} hours per week is - {round(with_max_hours_more_than50k/total_with_max_hours*100,2)}%')

Max hours per week is - 99
Total people who work 99 hours per week is - 85
Percent of people who earing more than 50K and work about 99 hours per week is - 29.41%

**10. Посчитайте среднее время работы (*hours-per-week*) зарабатывающих мало и много (*salary*) для каждой страны (*native-country*).**

In [108]:
average_hours_per_country = data.groupby(['native-country', 'salary'])['hours-per-week'].mean()
print(f'Average count of working hours per week forr each country and separate by salary level : \n {round(average_hours_per_country,2)}')

Average count of working hours per week forr each country and separate by salary level :
 native-country  salary
?               <=50K     40.16
                >50K      45.55
Cambodia        <=50K     41.42
                >50K      40.00
Canada          <=50K     37.91
                          ...
United-States   >50K      45.51
Vietnam         <=50K     37.19
                >50K      39.20
Yugoslavia      <=50K     41.60
                >50K      49.50
Name: hours-per-week, Length: 82, dtype: float64

**11.Сгруппируйте людей по возрастным группам *young*, *adult*, *retiree*, где:**
* *young* соответствует 16-35 лет
* *adult* - 35-70 лет
* *retiree* - 70-100 лет

**Проставьте название соответсвтуещей группы для каждого человека в новой колонке AgeGroup**

In [113]:
def age_groups(age):
    if 16 <= age <= 35:
        return 'young'
    elif 35 < age <= 70:
        return 'adult'
    elif 70 < age <= 100:
        return 'retiree'
    else:
        return 'else'
    
data['AgeGroup'] = data['age'].apply(age_groups)

print(data[['age', 'AgeGroup']].head())
data.head()

   age AgeGroup
0   39    adult
1   50    adult
2   38    adult
3   53    adult
4   28    young

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary,AgeGroup
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K,adult
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K,adult
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K,adult
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K,adult
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K,young

**12-13. Определите количество зарабатывающих >50K в каждой из возрастных групп (колонка AgeGroup), а также выведите название возрастной группы, в которой чаще зарабатывают больше 50К (>50K)**

In [127]:
more_then_50k_agegroup = data[data['salary'] == '>50K'].groupby('AgeGroup').size()

max_group = more_then_50k_agegroup.idxmax()

print(f'Group with >50K earing is "{max_group}" with {more_then_50k_agegroup[max_group]} people.\n')

print('People with >50k for each group :')
more_then_50k_agegroup

Group with >50K earing is "adult" with 6042 people.

People with >50k for each group :

AgeGroup
adult      6042
retiree      94
young      1705
dtype: int64

**14. Сгруппируйте людей по типу занятости (колонка occupation) и определите количество людей в каждой группе. После чего напишите функциюю фильтрации filter_func, которая будет возвращать только те группы, в которых средний возраст (колонка age) не больше 40 и в которых все работники отрабатывают более 5 часов в неделю (колонка hours-per-week)**

In [130]:
#Grope data by occupation
occupation_counts = data.groupby('occupation').size()
print(f'{occupation_counts}\n')

#Make function average age up to and include 40 years and employee worked more than 5 hours per week
def filtering(group):
    if group['age'].mean() <= 40:
        if group['hours-per-week'].min() > 5:
            return True
    return False

#Add function for group with all filters
group_filtered = data.groupby('occupation').filter(filtering)

print(group_filtered['occupation'].value_counts())

occupation
?                    1843
Adm-clerical         3770
Armed-Forces            9
Craft-repair         4099
Exec-managerial      4066
Farming-fishing       994
Handlers-cleaners    1370
Machine-op-inspct    2002
Other-service        3295
Priv-house-serv       149
Prof-specialty       4140
Protective-serv       649
Sales                3650
Tech-support          928
Transport-moving     1597
dtype: int64

occupation
Armed-Forces    9
Name: count, dtype: int64